:root {
  --bg-dark: oklch(0.1 0.05 280);
  --bg: oklch(0.15 0.05 280);
  --bg-light: oklch(0.2 0.05 280);
  --text: oklch(0.96 0.1 280);
  --text-muted: oklch(0.76 0.1 280);
  --highlight: oklch(0.5 0.1 280);
  --border: oklch(0.4 0.1 280);
  --border-muted: oklch(0.3 0.1 280);
  --primary: oklch(0.76 0.1 280);
  --secondary: oklch(0.76 0.1 100);
  --danger: oklch(0.7 0.1 30);
  --warning: oklch(0.7 0.1 100);
  --success: oklch(0.7 0.1 160);
  --info: oklch(0.7 0.1 260);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

h1 {
  color: var(--text);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.timeline-event {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--bg);
  border: 1px solid var(--border);
}

/* dun-mode; skru av all styling og effekter */
