:root {
  --bg-dark: oklch(0.92 0.055 312);
  --bg: oklch(0.96 0.055 312);
  --bg-light: oklch(1 0.055 312);
  --text: oklch(0.15 0.11 312);
  --text-muted: oklch(0.4 0.11 312);
  --highlight: oklch(1 0.11 312);
  --border: oklch(0.6 0.11 312);
  --border-muted: oklch(0.7 0.11 312);
  --primary: oklch(0.4 0.11 312);
  --secondary: oklch(0.4 0.11 132);
  --danger: oklch(0.5 0.11 30);
  --warning: oklch(0.5 0.11 100);
  --success: oklch(0.5 0.11 160);
  --info: oklch(0.5 0.11 260);

  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-muted);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  color: var(--text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.timeline-event {
  width: 100%;
  max-width: 50vw;
  border-radius: 15px;
  padding: 1rem 2rem;
  background-color: var(--bg);
  box-shadow: var(--shadow);
}

/* dun-mode; skru av all styling og effekter */
