[Unit]
Description=SommerLAN
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/www/sommerlan
Restart=on-failure
RestartSec=5s

ExecStartPre=-/usr/bin/docker stop sommerlan
ExecStartPre=-/usr/bin/docker rm sommerlan
ExecStart=/usr/bin/docker run \
    --name sommerlan \
    -p 8080:8080 \
    --user 1000:1000 \
    -v /var/www/sommerlan/data:/data \
    -v /var/www/sommerlan/uploads:/app/frontend/uploads \
    --env-file /var/www/sommerlan/.env \
    sommerlan
ExecStop=/usr/bin/docker stop sommerlan

[Install]
WantedBy=multi-user.target
