[Unit]
Description=SommerLAN
After=network.target

[Service]
WorkingDirectory=/home/fjogen/opt/sommerlan
Restart=on-failure
RestartSec=5s
EnvironmentFile=/home/fjogen/opt/sommerlan/.env
Environment=FRONTEND_PATH=/home/fjogen/opt/sommerlan/frontend
Environment=DB_PATH=/home/fjogen/opt/sommerlan/data/sommerlan.db
ExecStart=/home/fjogen/opt/sommerlan/sommerlan

[Install]
WantedBy=default.target
