:root {
  --primary: #b9d5bc;
  --secondary: #c5dcc2;
  --tertiary: #5a855f;
  --soft: #d3ecdc;
  --gold: #ffd700;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--tertiary);
}

h1 {
  color: var(--secondary);
}
